* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

#main {
  display: grid;
  grid-template-columns: 50% 50%;
}

button {
  background-color: #222222;
  padding: 2vh 2vw;
  border: 1px solid #222222;
  color: white;
}

#header {
  grid-column: span 2;
  text-align: center;
  padding: 5vh 5vw;
  background-color: #222222;
  color: white;
}

#head {
  position: fixed;
  width: 50%;
  padding-bottom: 2vh;
  background-color: #5b5150;
  color: white;
}

#cust_list {
  border-right: 1px solid lightgray;
  text-align: center;
  height: 81vh;
  overflow: auto;
  background-color: #eaeaea;
  h2 {
    padding: 3vh 3vw;
  }
  ul {
    padding: 25vh 4vw;
    li {
      margin: 1vh 1vw;
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
    }
  }
}

#address_list {
  height: 81vh;
  overflow: auto;
  text-align: center;
  background-color: #eaeaea;
  height: 81vh;
  h2 {
    padding: 3vh 3vw;
    color: white;
  }
  ul {
    padding: 25vh 4vw;
    li {
      padding: 1vh 1vw;
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
    }
  }
}
